.grand {
            /* width: 100%;
            height: 100vh; */
          width: 100%;
}
      .btn1 {
        font-size: xx-large;
      }
        
        .child1 {
            height: 100vh;
            width: 100%;
            background-color: rgba(128, 128, 128, 0.199);
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
        }
       .img1 {
           width: 17%;
           height: 40vh;
           margin-top: 3%;
       }
       .heading1 {
        font-weight: bolder;
        font-size: 400%;
       }
      .p1 {
        font-weight: bolder;
        font-size: 200%;
      }
      .btn1 {
        color: white;
        background-color: blue;
        width: 10%;
        height: 100px;
        border-radius: 40%;
      }
      .child2 {
        height: 85vh;
        background-color: black;
        display: flex;
        flex-direction: column;
        /* justify-content: center; */
        align-items: center;
      }
      .heading2 {
        color: white;
        font-size: 350%;
      }
      .heading3 {
        color: white;
        font-size: 40px;
      }
      .btn2 {
        color: white;
        background-color: rgb(0, 191, 255);
        width: 150px;
        height: 40px;
        border-radius: 30%
      }
    .grandchild1 {
        display: flex;
        /* background-color: aqua; */
        width: 30%;
      }
       .btn3 {
        background-color: black;
        color: blue;
        border: 1px solid blue;
        margin-left: 20px;
       }
       .childbtn {
        margin-left: 50px;
       }
       .img2 {
        width: 100%;
        height: 60vh;
        /* margin-top: 100px; */
       }
       .child3 {
        height: 100vh;
            background-color: rgba(128, 128, 128, 0.075);
            display: flex;
            flex-direction: column;
            /* justify-content: center; */
            align-items: center;
            width: 100%;
       }
       .heading4 {
        /* color: white; */
        font-size: 60px;
       }
       .img3 {
         width: 100%;
        height: 40vh;
        /* margin-top: 100px; */
       }
       .grand2 {
        width: 100%;
        display: flex;
        flex-wrap: wrap;
       }
       .child4 {
         height: 100vh;
              /* background-color: rgba(128, 128, 128, 0.027); */
               background-color: rgba(245, 239, 239, 0.685);
            width: 50%;
            display: flex;
            flex-direction: column;
            align-items: center;
            
       }
       .heading6 {
         font-size: 60px;
       }
       .img4 {
           width: 900px;
        height: 40vh;
        margin-top: 100px;
       }
       .child5 {
         height: 100vh;
              /* background-color: rgb(71, 111, 124); */
              background-color: rgba(36, 190, 164, 0.37);
               width: 50%;
            display: flex;
            flex-direction: column;
            align-items: center;
       }
       .heading8 {
        font-size: 60px;
       }
       .btn4 {
        background-color:rgb(36, 140, 175) ;
       }
       .img5 {
         width: 100%;
        height: 200vh;
        margin-top: 100px;
       }
       .child6 {
          height: 100vh;
             background-color: rgba(128, 128, 128, 0.075);
               width: 50%;
               display: flex;
               flex-direction: column;
               align-items: center;
       }
       .img6 {
        width: 50px;
        height: 90px;
       }
       .grandchild5 {
        display: flex;
        margin-top: 50px;
       }
       .heading10 {
        font-size: 60px;
       }
       .paragraph1 {
        font-size: 25px;
       }
       .childbtn1 {
        margin-right: 7%;
       }
       .img7 {
          width: 100%;
        height: 40vh;
        margin-top: 100px;
       }
       .child7 {
         height: 100vh;
             background-color: rgba(255, 255, 255, 0.856);
               width: 50%;
       }
       .child7 {
        display: flex;
        flex-direction: column;
        align-items: center;
       }
       .grandchild6 {
        display: flex;
        margin-top: 50px;
       }
       .heading11 {
        font-size: 60px;
       }
       .paragraph2 {
        font-size: 25px;
       }
       .btn5 {
        background-color: rgba(228, 223, 223, 0.671);
       }
       .img8 {
                 width: 40%;
        height: 40vh;
        margin-top: 70px;
       }
       .child8 {
         height: 100vh;
             background-color: rgba(240, 246, 247, 0.753);
               width: 50%;
        display: flex;
        flex-direction: column;
        align-items: center;
       }
       .heading12 {
        font-size: 60px;
        font-weight: lighter;
       }
       .paragraph3 {
        font-size: 25px;
       }
       .hoverbtn:hover {
        background-color: rgb(25, 204, 25);
       }
       .img9 {
        width: 100%;
        height: 60vh;
        margin-top: 70px;
       }
       .child9 {
           height: 100vh;
             /* background-color: rgba(243, 237, 237, 0.753); */
                background-color: rgba(240, 246, 247, 0.753);
               width: 50%;
               display: flex;
               flex-direction: column;
               align-items: center;
       }
       .heading13 {
         font-size: 60px;
         margin-top: 90px;
       }
       .paragraph4 {
        font-size: 25px;
       }
       .img10 {
         width: 40%;
        height: 40vh;
        margin-top: 70px;
       }
       .grand3 {
        background-color: rgb(243, 238, 238);
        text-align: normal;
       }
       .dts {
        font-weight: bolder;
       }
       .grand4 {
        display: flex;
        justify-content: space-evenly;
       }
       .child11 {
        /* margin-left: 180px; */
       }
       .child12 {
           /* margin-left: 180px; */
       }
       .grand4 {
        background-color: rgb(236, 230, 230);
       }
       span {
        color: blue;
        text-decoration: underline  ;
       }
       nav{
        height: 7vh ;
        background-color: black;
        display: flex;
        justify-content: space-evenly;
        color: gray;
        position: fixed;
        width: 100%;
        /* font-size: 1px; */
        
       }
        .grand {
            /* width: 100%;
            height: 100vh; */
          width: 100%;
}
      .btn1 {
        font-size: xx-large;
      }
        
        .child1 {
            height: 100vh;
            width: 100%;
            background-color: rgba(128, 128, 128, 0.199);
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
        }
       .img1 {
           width: 17%;
           height: 40vh;
           margin-top: 3%;
       }
       .heading1 {
        font-weight: bolder;
        font-size: 400%;
       }
      .p1 {
        font-weight: bolder;
        font-size: 200%;
      }
      .btn1 {
        color: white;
        background-color: blue;
        width: 10%;
        height: 100px;
        border-radius: 40%;
      }
      .child2 {
        height: 85vh;
        background-color: black;
        display: flex;
        flex-direction: column;
        /* justify-content: center; */
        align-items: center;
      }
      .heading2 {
        color: white;
        font-size: 350%;
      }
      .heading3 {
        color: white;
        font-size: 40px;
      }
      .btn2 {
        color: white;
        background-color: rgb(0, 191, 255);
        width: 150px;
        height: 40px;
        border-radius: 30%
      }
    .grandchild1 {
        display: flex;
        /* background-color: aqua; */
        width: 30%;
      }
       .btn3 {
        background-color: black;
        color: blue;
        border: 1px solid blue;
        margin-left: 20px;
       }
       .childbtn {
        margin-left: 50px;
       }
       .img2 {
        width: 100%;
        height: 60vh;
        /* margin-top: 100px; */
       }
       .child3 {
        height: 100vh;
            background-color: rgba(128, 128, 128, 0.075);
            display: flex;
            flex-direction: column;
            /* justify-content: center; */
            align-items: center;
            width: 100%;
       }
       .heading4 {
        /* color: white; */
        font-size: 60px;
       }
       .img3 {
         width: 100%;
        height: 40vh;
        /* margin-top: 100px; */
       }
       .grand2 {
        width: 100%;
        display: flex;
        flex-wrap: wrap;
       }
       .child4 {
         height: 100vh;
              /* background-color: rgba(128, 128, 128, 0.027); */
               background-color: rgba(245, 239, 239, 0.685);
            width: 50%;
            display: flex;
            flex-direction: column;
            align-items: center;
            
       }
       .heading6 {
         font-size: 60px;
       }
       .img4 {
           width: 900px;
        height: 40vh;
        margin-top: 100px;
       }
       .child5 {
         height: 100vh;
              /* background-color: rgb(71, 111, 124); */
              background-color: rgba(36, 190, 164, 0.37);
               width: 50%;
            display: flex;
            flex-direction: column;
            align-items: center;
       }
       .heading8 {
        font-size: 60px;
       }
       .btn4 {
        background-color:rgb(36, 140, 175) ;
       }
       .img5 {
         width: 100%;
        height: 200vh;
        margin-top: 100px;
       }
       .child6 {
          height: 100vh;
             background-color: rgba(128, 128, 128, 0.075);
               width: 50%;
               display: flex;
               flex-direction: column;
               align-items: center;
       }
       .img6 {
        width: 50px;
        height: 90px;
       }
       .grandchild5 {
        display: flex;
        margin-top: 50px;
       }
       .heading10 {
        font-size: 60px;
       }
       .paragraph1 {
        font-size: 25px;
       }
       .childbtn1 {
        margin-right: 7%;
       }
       .img7 {
          width: 100%;
        height: 40vh;
        margin-top: 100px;
       }
       .child7 {
         height: 100vh;
             background-color: rgba(255, 255, 255, 0.856);
               width: 50%;
       }
       .child7 {
        display: flex;
        flex-direction: column;
        align-items: center;
       }
       .grandchild6 {
        display: flex;
        margin-top: 50px;
       }
       .heading11 {
        font-size: 60px;
       }
       .paragraph2 {
        font-size: 25px;
       }
       .btn5 {
        background-color: rgba(228, 223, 223, 0.671);
       }
       .img8 {
                 width: 40%;
        height: 40vh;
        margin-top: 70px;
       }
       .child8 {
         height: 100vh;
             background-color: rgba(240, 246, 247, 0.753);
               width: 50%;
        display: flex;
        flex-direction: column;
        align-items: center;
       }
       .heading12 {
        font-size: 60px;
        font-weight: lighter;
       }
       .paragraph3 {
        font-size: 25px;
       }
       .hoverbtn:hover {
        background-color: rgb(25, 204, 25);
       }
       .img9 {
        width: 100%;
        height: 60vh;
        margin-top: 70px;
       }
       .child9 {
           height: 100vh;
             /* background-color: rgba(243, 237, 237, 0.753); */
                background-color: rgba(240, 246, 247, 0.753);
               width: 50%;
               display: flex;
               flex-direction: column;
               align-items: center;
       }
       .heading13 {
         font-size: 60px;
         margin-top: 90px;
       }
       .paragraph4 {
        font-size: 25px;
       }
       .img10 {
         width: 40%;
        height: 40vh;
        margin-top: 70px;
       }
       .grand3 {
        background-color: rgb(243, 238, 238);
        text-align: normal;
       }
       .dts {
        font-weight: bolder;
       }
       .grand4 {
        display: flex;
        justify-content: space-evenly;
       }
       .child11 {
        /* margin-left: 180px; */
       }
       .child12 {
           /* margin-left: 180px; */
       }
       .grand4 {
        background-color: rgb(236, 230, 230);
       }
       span {
        color: blue;
        text-decoration: underline  ;
       }
       nav{
        height: 7vh ;
        background-color: black;
        display: flex;
        justify-content: space-evenly;
        color: gray;
        position: fixed;
        width: 100%;
        /* font-size: 1px; */
        
       }
       .child8-span {
        visibility: hidden;
      font-size: 0px;
       }
       .carousel {
    position: relative;
    width: 100%;
    height: 500px;
    overflow: hidden;
}

.c-track {
    display: flex;
    transition: transform 0.5s ease;
}

.c-slide {
    min-width: 100%;
    height: 500px;
}

.c-slide img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.c-prev, .c-next {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background: rgba(0,0,0,0.5);
    border: none;
    color: #fff;
    font-size: 40px;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 50px;
}

.c-prev { left: 20px; }
.c-next { right: 20px; }

       @media screen and (min-width:2400px) {
        nav{
          width: 100%;
          height: 5vh;
          font-size: 2vh;
        }
        .child1 {
          width: 100%;
          height: 60vh;
        }
         .img1 {
           width: 17%;
           height: 30vh;
           margin-top: 3%;
       }
       .child2 {
          width: 100%;
          height: 80vh;
          display: flex;
          flex-direction: column;
          align-items: center;
       }
       .img2 {
        width: 80%;
           height: 60vh;
           margin-top: 3%;
       }
       .child2btn {
        align-self: center;
        width: 30%;
        height: 5vh;
        font-size: xx-large;
       }
       .grandchild1 {
        display: flex;
        justify-content: center;
       }
       .child2-headings {
        font-size: 100px;
       }
       .child3-headings {
           font-size: 45px;
       }
       .child3-btn {
         width: 200px;
        height: 5vh;
        font-size: xx-large;
       }
       .grandchild2 {
         display: flex;
        justify-content: center;
       }
       .child3 {
        width: 100%;
         height: 60vh;
       }
       .child4-heading {
         font-size: 60px;
       }
       .child4-btn {
        width: 200px;
        height: 5vh;
        font-size: xx-large;
       }
       .img4 {
         width: 80%;
           height: 60vh;
           margin-top: 3%;
       }
       .heading-img1 {
              width: 300px;
              height: 100px;
       }
       .child5-heading {
        font-size: 60px;
       }
       .child5-btn {
         width: 200px;
        height: 5vh;
        font-size: xx-large;
       }
       .child6-heading {
         font-size: 100px;
       }
       .child6-btn {
        width: 350px;
        height: 5vh;
        font-size: xx-large;
       }
       .child7-heading {
         font-size: 100px;
       }
       .child7-btn {
          width: 200px;
        height: 5vh;
        font-size: xx-large;
       }
       .child8-heading {
         font-size: 100px;
       }
       .child8-btn {
        width: 200px;
        height: 5vh;
        font-size: xx-large;
       }
       .child8-img {
        margin-top: 220px;
       }
       .child9-heading {
        font-size: 100px;
       }
       .child9-btn {
        width: 200px;
        height: 5vh;
        font-size: xx-large;
       }
       .grand3 {
        font-size: xx-large;
       }
       .grand4 {
        font-size: xx-large;
       }
       .last-p {
        font-size: xx-large;
       }
      }
  @media screen and (max-width:425px) {
    .child1 {
          width: 100%;
        }
        .heading1 {
          font-size: 50px;
          /* font-weight: lighter; */
        }
        .btn1 {
          width: 100px;
        }
        .grand4 {
          display: flex;
          flex-direction: column;
        }
        .child4-heading {
          font-size: 30px;
        }
        .child4 {
          display: flex;
          flex-direction: column;
        }
        .child4-btn {
          /* font-size: 20px; */
          width: 120px;
        }
        /* .grandchild3 {
          display: flex;
          flex-direction: column; */
        
        .img4 {
          width: 500px;
          height: 300px;
        }
        .img5 {
           width: 200px;
          height: 300px;
        }
        .child8-heading {
          width: 50px;
          height: 50px;
        }
        .img6 {
          visibility: hidden;
          width:0px ;
          height: 0px;
        }
        .child8 {
          display: flex;
          flex-direction: column;
        }
        .grand2 {
          display: flex;
          flex-wrap: wrap;
          flex-direction: column;
        }
        .child4 {
          width: 100%;
        }
        .child5 {
          width: 100%;
        }
        .child6 {
          width: 100%;
        }
        .child7 {
          width: 100%;
        }
        .child8 {
          width: 100%;
        }
        .child9 {
          width: 100%;
        }
        .img5 {
          width: 100%;
        }
        .child8-heading {
          font-size: 30px;
        }
        .heading12 {
          font-size: 0px;
        }
        /* .child8-span {
          visibility: visible;
          font-size: medium;
        } */
         .heading11 {
          font-size: 50px;
         }
         nav{
          font-size: 1.5vh;
         }
         .img4 {
          width: 100%;
         }
  }
     @media screen and (max-width:375px) {
      .img5 {
         width: 180px;
          height: 300px;
      }
      .img4 {
          width: 350px;
          height: 300px;
      }
      nav{
        font-size: 1.3vh;
      }
     }
     @media screen and (max-width:320px) {
      nav{
        font-size: 1.3vh;
      }
     }